<%= render 'form'%>


<br><br><br>
<a href='/pizzas'>Pizzas</a><br>
<a href='/pizzas/new'>Create Pizza </a><br><br>
<a href='/ingredients'>Ingredients</a><br>
<a href='/ingredientes/new'>Add Ingredient</a><br>
