<center><h1><u><%= @pizza.name %></u></h1></center>
<br>
<br>
<br>

<h3>Check out our fresh ingredients! Locally Sourced!</h3>
<br>
<h1><%= @pizza.ingredients %></h1>

<a href='/pizzas'><button>All the Pizzas!</button></a>

