<h1>Pizzas</h1>
<h3> name: <%= @pizza.name %> </h3>
<h3> ingredients: <%= @pizza.ingredients%> </h3>
<% end %>





<br><br><br>
<a href='/pizzas'>Pizzas</a><br>
<a href='/pizzas/new'>Create Pizza </a><br><br>
<a href='/ingredients'>Ingredients</a><br>
<a href='/ingredients/new'>Add Ingredient</a><br>
